@import '../components/LevelCreator/CalculatorStyles.scss';
@import '../components/LevelCreator/ButtonPreviews/ButtonPreviews.scss';

.MuiInputBase-root.MuiOutlinedInput-root {
  border-radius: 0.75rem;
}

// Remove arrows from a number-type input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}